<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Registration</title>
	<link rel="stylesheet" type="text/css" href="/Projects/sportsbetting-application-mvc/sportsbetting-application-web/src/main/resources/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/Projects/sportsbetting-application-mvc/sportsbetting-application-web/src/main/resources/static/css/container.css">
</head>
<body>
	<div class="position first"></div>
	<div class="position secund"></div>
	<div class="position thirth"></div>
	<div class="position fourth"></div>
</body>
</html>