<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>SportsBet</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/navbar.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
        <span class="navbar-brand">
            <span> Hi </span>
            <span th:text="${player.username}"></span>
            <span>, Your Balance: </span>
            <span th:text="${player.balance != null} ? ${player.balance} : '0' "></span>
            <span th:text="${player.currency}"></span>
            <span th:if="${player.balance == null or player.balance <= rechargeBoundary}">
                <form th:action="@{recharge}" method="post">
                    <button type="submit" class="btn btn-primary">Recharge</button>
                </form>
            </span>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pr-4"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item active pr-4"><a class="nav-link" href="/events">Events</a></li>
                <li class="nav-item pr-4"><a class="nav-link" href="/profile">Profile</a></li>
                <li class="nav-item pr-4 dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">English</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Magyar</a>
                    </div></li>
                <li class="nav-item pr-4"><a class="nav-link active button-decoration" href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container col-xl-8 col-lg-10 col-md-12 col-sm-12">
        <h1 class="text-dark">Best Five!</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Time</th>
                    <th scope="col">Home</th>
                    <th scope="col">Draw</th>
                    <th scope="col">Away</th>
                    <th scope="col">Bets</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${events.empty}">
                    <td colspan="6">No Events Available</td>
                </tr>
                <tr th:each="event : ${events}">
                    <td><span th:text="${event.title}"></span></td>
                    <td><span th:text="${event.time}"></span></td>
                    <td><span th:text="${event.homeTeamWinOdd} ?: 'N/A'"></span></td>
                    <td><span th:text="${event.drawOdd} ?: 'N/A'"></span></td>
                    <td><span th:text="${event.awayTeamWinOdd} ?: 'N/A'"></span></td>
                    <td><a th:href="@{'/bet?id=' + ${event.id}}" th:text="'See all (' + ${event.numberOfOutcomes} + ')'"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
</body>
</html>