<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>SportsBet</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<span class="navbar-brand pointer-none">SportsBet</span>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarResponsive"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item pr-4"><a class="nav-link" href="/home">Home</span></a>
				</li>
				<li class="nav-item pr-4"><a class="nav-link" href="/events">Events</a>
				</li>
				<li class="nav-item pr-4 dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">Language</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">English</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Magyar</a></li>
				<li class="nav-item pr-4"><a
					class="nav-link active button-decoration" href="/login">Login</a></li>
			</ul>
		</div>
	</nav>
	<div class="container h-100">
		<div class="row h-75">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto my-auto">
				<form th:action="@{save_player}" th:object="${registrationModel}" method="post">
					<h2>Registration</h2>
					<div class="form-group">
						<label></label> <input type="text" th:field="*{firstName}"
							class="form-control" placeholder="First name"></input>
					</div>
					<div class="form-group">
						<label></label> <input type="text" th:field="*{lastName}"
							class="form-control" placeholder="Last name"></input>
					</div>
					<div class="form-group">
						<label></label> <input type="email" th:field="*{email}"
							class="form-control" placeholder="Email"></input>
					</div>
					<div class="form-group">
						<label></label> <input type="text" th:field="*{username}"
							class="form-control" placeholder="Username"></input>
					</div>
					<div class="form-group">
						<label></label> <select name="currency" th:field="*{currency}">
							<option
								th:each="currency : ${T(com.training.sportsbetting.domain.Currency).values()}"
								th:value="${currency}" th:text="${currency}"></option>
						</select>
					</div>
					<div class="form-group">
						<label></label> <input type="date" th:field="*{birth}"
							class="form-control" placeholder="Birth"></input>
					</div>
					<div class="form-group">
						<label></label> <input type="password" th:field="*{password}"
							class="form-control" placeholder="Password"></input>
					</div>
					<button type="submit" class="btn btn-primary">Sign in</button>
				</form>
			</div>
		</div>
	</div>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/popper.min.js"></script>
</body>
</html>